// neutrals
$neutral-1: #fafafa;
$neutral-2: #f5f5f5;
$neutral-3: #d4d4d4;
$neutral-4: #949494;
$neutral-5: #4e4e4e;
$neutral-6: #1d1d1d;

// blue
$blue-1: #aedded;
$blue-2: #7bc1d8;
$blue-3: #54a6bf;
$blue-4: #358ba6;
$blue-5: #1d7896;

// red
$red-1: #fee1ea;
$red-2: #fda1bb;
$red-3: #fd739b;
$red-4: #fc497c;
$red-5: #fb215c;

// yellow
$yellow-1: #fff6e3;
$yellow-2: #feecc5;
$yellow-3: #d7b46b;
$yellow-4: #fee1a4;
$yellow-5: #ae8a3e;

// green
$green-1: #ffffff;
$green-2: #e9fef4;
$green-3: #b9f7da;
$green-4: #8ceac0;
$green-5: #64d5a1;
